$dark_gray : #363d41;
$medium_gray : #4d5057;
$orange_web : #ffa400;
$medium_blue : #1e96fc;
$washed_blue : #95afba;
$black: #1b1b1b;
$hightlighted: #2e2e2e;

$main_background: #212121;
$light_background: #323232;
$hightlight_1: #0D7377;
$hightlight_2: #14FFEC;

$text_color: #e2e2e2;